body {
    background-color: #f6eab8;
}

a {
    text-decoration: none;
    color: #0078d4;
  }
  

  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  h2 {
    font-size: 18px;
    margin: 0;
  }
  
  p {
    margin: 5px 0;
  }
  

  .main-product {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
  }
  